<doctype html>
<html>
  <head>
    <title>Voix - Twitter poll client</title>
  </head>
  <body>
    <h1> Voix </h1>
    <form action="/login" method="POST">
      <input name='username' type='text' placeholder='username' autofocus>
      <br>
      <input name='password' type='password' placeholder='password' autofocus>
      <br>
      <input type='submit' value='Sign in'>
      <br>
      <a href="./signup"> Sign Up </a>
      <a href="#"> Forgot Password </a>
      <br>
      <p>
        {{#if registered}}
          {{#if registered.success}}
            Registered successfully
          {{else}}
            Registration Failed
          {{/if}}
        {{/if}}
        {{#if login}}
          {{#if login.success}}
            Logged in successfully
          {{else}}
            Login Failed
          {{/if}}
        {{/if}}
      </p>
    </form>
  </body>
</html>
