doctype html
html
    head
      title="Voix - Twitter poll client"
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
      h1 Voix
      form(action="/login" method="POST")
        p
        input(name='username', type='text', placeholder='username', autofocus)
        br
        input(name='password', type='password', placeholder='password', autofocus)
        br
        input.retro.login(type='submit', value='Sign in')
        br
        a(href="./signup") Sign Up 
        a(href="#") Forgot Password
        br
        if registered
          if registered.success
            p Registration Successfull
          else
            p Registration Failed
        if login
          if ! login.success
            P Failed to Login :(
        br
