doctype html
html
    head
      title="Voix - Twitter poll client"
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
      h1 Voix
      if login
        p Logged in as: #{login.username}
