<doctype html>
<html>
  <head>
    <title> Voix - Twitter poll client </title>
  </head>
  <body>
    <h1> Voix </h1>
    {{#if login}}
      {{#if login.success}}
        <p> Logged in as: {{login.username}} </p>
      {{/if}}
    {{/if}}
  </body>
</html>
