<doctype html>
<html>
    <head>
      <title>Voix - Twitter poll client</title>
      <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
      <h1> Voix - Sign Up</h1>
      <form action="/submit_new_acc" method="POST">
        Username: <input name='username' type='text' autofocus>
        <br>
        Password: <input name='password' type='password'>
        <br>
        Email ID: <input name='email' type='email'>
        <br>
        <input type='submit' value='Sign Up'>
        <input type='reset' value='Clear Fields'>
      </form>
    </body>
</html>
